@import "./scss/variables";
@import "./scss/mixin";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  header {
    .top-head {
      background-color: red;
      width: auto;
      height: 35px;
      display: flex;
      justify-content: flex-end;

      div {
        margin-right: 75px;

        @include mobile {
          margin-right: 0;
        }
        img {
          width: 20px;
          height: 20px;
          margin: 7px;
        }
      }
    }
    .menu {
      .navbar {
        .navbar-brand {
          margin-left: 3rem;
          font-size: 2rem;
          .logo {
            width: 30px;
          }
        }
      }
      .navmenu {
        .navbar-nav {
          font-size: 1.6rem;

          .color {
            a {
              color: red;
            }
          }
        }
      }
      .search {
        img {
          width: 30px;
          @include mobile {
            display: none;
          }
        }
      }
    }
  }

  main {
    .main-div {
      background-image: url(./img/capdfrawy-ksVq_Mv-Q-0-unsplash.jpg);
      height: 900px;
      background-size: cover;
      margin: 0;
      padding: 0;
      .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7rem;
        h1 {
          color: red;
        }

        .point {
          border: 2px red dashed;
          width: 77px;
          margin: 1rem;
        }

        p {
          margin: 2.5rem 8rem;
          color: #ffffff;
          @include mobile {
            width: 21rem;
          }
        }
      }

      .left {
        margin-top: 3rem;
      }
    }
    .last-main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 1rem;

      ul {
        text-align: center;
        width: 20%;
        margin: 40px 0;
        @include mobile {
          width: 100%;
        }
        .icon {
          img {
            width: 5rem;
          }
        }
        .title {
          margin-top: 1.5rem;
          font-size: 2rem;
        }

        .text {
          color: grey;
        }
        .text-2 {
          margin: 10px;
          color: red;
          font-weight: bold;
        }
      }
    }
  }

  footer {
    background-color: rgb(1, 1, 36);
    height: 400px;
    .foot {
      color: rgb(230, 18, 18);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin-right: 20px;
        font-size: 2rem;
        padding: 10px 10px;
        background-color: rgb(101, 90, 206);
        border-radius: 2rem;
      }

      .fb {
        padding: 10px 17px;
      }
      .ins {
        padding: 10px 13px;
      }
    }
  }
}
